<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Register</h1>
    <form action="register" method="POST">
        {% csrf_token %}
        <label for="name">Name</label>
        <input type="text" name ="name">
        <br></br>
        <label for="alias">Alias</label>
        <input type="text" name ="alias">
        <br></br>
        <label for="email">Email</label>
        <input type="text" name ="email">
        <br></br>
        <label for="password">Password</label>
        <input type="password" name ="password">
        <h2>*Password should be at least 8 characters</h2>
        <label for="confirm">confirm_PW</label>
        <input type="password" name ="confirm">
        <br></br>
        <input type="submit" value="register">
        <br></br>
    </form>
    <form action="login" method="POST">
        {% csrf_token %}

        <label for="email">Email</label>
        <input type="text" name ="email">
        <br></br>
        <label for="password">Password</label>
        <input type="password" name ="password">
        <br></br>

        <input type="submit" value="login">
    </form>
</body>
</html>