<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <a href="/">logout</a>
    <a href="main_page.html">go back</a>
    <p>{{title}}</p>
    <p>author: {{author}}</p>
    <h1>Reviews:</h1>
    {% for review in reviews%}
        <p>rating: {{review.rating}}*"*"</p>
        <p><a href="users/{{review.users.id}}">{{review.users.name}}</a> says {{review.comment}}</p>
        <p>Posted at {{review.created_at}}</p>
    {% endfor %}
</body>
</html>